<section class="section">
  <h1 class="title">Best Albums</h1>
  <div class="buttons">
    <%= link_to '投稿する', new_album_path, class: 'button is-warning' %>
  </div>
  <div class="tile notification is-info">
    <%= link_to 'all', albums_path %>
  </div>
  <div class="tile notification is-primary">
    <%= link_to '2020', y2020_index_path %>
  </div>
  <div class="tile notification is-primary">
    <%= link_to '2019', y2019_index_path %>
  </div>
</section>
